* {
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  font-size: 200%;
  height: 20%;
}

.Destaques {
  display: inline-block;
  height: 80vh;
  margin-top: 10%;
  width: 89vw;
}
.red {
  display: flex;
  width: 40vw;
  height: 35vh;
}

p {
  font-size: 90%;
}
